.middle {
  width: 1160px;
  padding: 20px 20px 200px 20px;
  margin: 0 auto;
}
.middle .confirm_order h5 {
  font-size: 22px;
  color: #000;
  font-family: 微软雅黑;
  line-height: 62px;
  font-weight: normal;
}
.middle .confirm_order h5 + p {
  display: inline-block;
  font-size: 18px;
  color: #000;
  line-height: 40px;
  background-color: #e8e8e8;
  width: 100%;
  text-indent: 56px;
}
.middle .confirm_order > div {
  width: 1120px;
  border: 1px solid #d2d2d2;
  overflow: hidden;
  padding: 30px 20px;
  margin-top: 30px;
  /*收货人的地址信息*/
  font-size: 12px;
  color: #414141;
  font-family: 微软雅黑;
}
.middle .confirm_order > div div:not(:last-child) {
  width: 272px;
  height: 175px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  background: url("../img/confirm_order02.png") no-repeat;
}
.middle .confirm_order > div div:not(:last-child).select {
  background: url("../img/confirm_order.png") no-repeat;
}
.middle .confirm_order > div div:not(:last-child) p {
  display: inline-block;
  width: 236px;
  height: 34px;
  margin-left: 34px;
  margin-top: 16px;
}
.middle .confirm_order > div div:not(:last-child) p span {
  margin-left: 20px;
}
.middle .confirm_order > div div:last-child {
  width: 272px;
  height: 175px;
  float: left;
  background: none;
  border: 1px solid #dfdfdf;
  text-align: center;
  display: table-column;
  vertical-align: bottom;
}
.middle .confirm_order > div div:last-child img {
  width: 25px;
  height: 27px;
  cursor: pointer;
  margin-top: 60px;
}
.middle .confirm_order > div div:last-child a {
  font-size: 14px;
  color: #808080;
  margin: 0;
  display: block;
}
.middle .shop_list h5 {
  font-size: 20px;
  color: #000;
  line-height: 40px;
  display: inline-block;
  background-color: #e8e8e8;
  width: 100%;
  margin-top: 52px;
  overflow: hidden;
  text-indent: 40px;
  font-weight: normal;
}
.middle .shop_list h5 a {
  font-size: 12px;
  text-align: right;
  color: #056e7e;
  float: right;
  margin-right: 16px;
}
.middle .shop_list form {
  margin-top: 20px;
}
.middle .shop_list form table:not( :nth-last-child(2)) {
  padding-left: 55px;
  font-size: 12px;
  color: #000;
  text-align: center;
}
.middle .shop_list form table:not( :nth-last-child(2)) a {
  font-size: 12px;
  color: #000;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr td:first-child {
  width: 770px;
  text-align: left;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr td:nth-child(2) {
  width: 134px;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr td:nth-child(3) {
  width: 112px;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr td:nth-child(4) {
  width: 79px;
  text-align: center;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr:last-child {
  vertical-align: top;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr:last-child td {
  padding: 20px 0;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr:nth-child(2) td:first-child {
  overflow: hidden;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr:nth-child(2) td:first-child img {
  float: left;
  width: 78px;
  height: 83px;
}
.middle .shop_list form table:not( :nth-last-child(2)) tr:nth-child(2) td:first-child > div {
  margin-top: 12px;
  margin-left: 8px;
  float: left;
}
.middle .shop_list form .total_price {
  font-size: 12px;
  color: #000;
  /*本组商品金额部分*/
}
.middle .shop_list form .total_price.total_price {
  text-align: right;
  line-height: 60px;
  border-top: 1px dotted #707070 ;
}
.middle .shop_list form .total_price.total_price span:last-child {
  color: #ff0000;
  margin-left: 10px;
}
.middle .shop_list form .total_price.total_price span:nth-child(3) {
  margin-right: 40px;
}
.middle .shop_list form .total_price.total_price span:first-child {
  margin-right: 60px;
}
.middle .shop_list form .balance_information {
  overflow: hidden;
  width: 1190px;
  border: 1px solid #c4c4c4;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}
.middle .shop_list form .balance_information .receipt {
  float: left;
  width: 360px;
  text-align: left;
  font-size: 12px;
  color: #000;
  line-height: 30px;
}
.middle .shop_list form .balance_information .receipt tr:last-child {
  /*保存发票信息的按钮*/
}
.middle .shop_list form .balance_information .receipt tr:last-child button {
  width: 160px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background-color: #ff0000;
  border: transparent;
  cursor: pointer;
}
.middle .shop_list form .balance_information .receipt a {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #a2a2a2;
  text-align: center;
  line-height: 14px;
  color: #a2a2a2;
  margin-left: 10px;
}
.middle .shop_list form .balance_information .receipt i {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #414141;
  margin-left: -20px;
  margin-top: 9px;
  position: absolute;
  z-index: -10;
}
.middle .shop_list form .balance_information .receipt i s {
  display: inline-block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #1fbb00;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 3px;
}
.middle .shop_list form .balance_information .receipt input[type="radio"] {
  margin: 0 10px 0 20px;
  vertical-align: inherit;
  cursor: pointer;
  opacity: 0;
}
.middle .shop_list form .balance_information .receipt input[type="radio"]:checked {
  opacity: 0;
}
.middle .shop_list form .balance_information .receipt input[type="radio"]:checked + i s {
  opacity: 1;
}
.middle .shop_list form .balance_information .receipt input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  vertical-align: -2px;
}
.middle .shop_list form .balance_information .receipt input[type="text"] {
  width: 100px;
  height: 20px;
  outline: none;
}
.middle .shop_list form .balance_information .receipt span {
  color: #414141;
}
.middle .shop_list form .balance_information .receipt .tel_num {
  margin-left: 20px;
}
.middle .shop_list form .balance_information .receipt .company {
  padding-left: 53px;
}
.middle .shop_list form .balance_information .balance {
  float: right;
  width: 364px;
}
.middle .shop_list form .balance_information .balance td:first-child {
  line-height: 30px;
  text-align: right;
}
.middle .shop_list form .balance_information .balance td:last-child {
  text-align: right;
  padding-right: 38px;
  padding-left: 64px;
}
.middle .shop_list form .balance_information .balance .pay_tag {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  height: 30px;
  padding: 0;
}
.middle .shop_list form .balance_information .balance .pay {
  font-size: 18px;
  color: #ff0000;
  font-weight: bold;
  padding-top: 0;
}
.middle .shop_list form .submit_order {
  width: 1200px;
  background-color: #e8e8e8;
  overflow: hidden;
}
.middle .shop_list form .submit_order input[type=submit] {
  width: 190px;
  height: 50px;
  background-color: #ff0000;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  float: right;
  cursor: pointer;
}
